.header{
    text-align: center;
}
.logo{
    width: 400px;
}
.header nav{
    background: black;
    line-height: 30px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    margin-right: 40px;
    padding: 0px 5px;
    color: white;
}
nav a:hover{
    background: grey;
}